// Colors
$base-color: #232020;
$accent-color: #3ab54b;
$accent-color-2: #ffdc16;
$accent-color-3: #8dc53e;
$accent-color-4: #c2ad82;
$primary-color: #48466D;
$secondary-color: #3d4a57;
$secondary-color-2: #9dbad8;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #edf512;
$danger-color: #fd0d4d;

$white-color: #dae1e2;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color-4;


// Fonts
$font-size: 18px;
$primary-font: "Oswald", "Arial Narrow", "Arial", sans-serif;
$secondary-font: "proxima_nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;;

$duration: 0.28s;
$border-radius: 2px;


// Grid
$gutter: 20px;

// Media querys
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$grid-breakpoints: (
  xs: 0,
  sm: 568px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1500px
);

$grid-max-widths: (
  sm: none,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1200px
);

$grid-max-widths--slim: (
  sm: none,
  md: none,
  lg: 780px,
  xl: 800px,
  xxl: 980px
);

$grid-max-widths--fat: (
  sm: none,
  md: none,
  lg: 1040px,
  xl: 1180px,
  xxl: 1300px
);
