$dotted-size: 2px;

.button-link {
  padding: 0;
  border: none;
  background: none;
  color: $secondary-color-2;
  font-style: normal;
  font-weight: 500;
  font-size: rem(15);
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border-bottom: $dotted-size solid transparent;
  background-origin: border-box;
  background-image: linear-gradient(to right, $secondary-color-2 $dotted-size, transparent 0);
  background-position: 0 100%;
  background-size: ($dotted-size * 2) $dotted-size;
  background-repeat: repeat-x;
  transition: $duration;
  outline: none;

  &:hover,
  &:focus {
    color: lighten($secondary-color-2, 10%);
    background-image: linear-gradient(to right, lighten($secondary-color-2, 10%) $dotted-size, transparent 0);
  }

  &:active {
    opacity: 0.8;
  }
}
