.coming-soon-welcome {
}

.coming-soon-welcome__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  @include mq-min(1024px) {
    margin-left: 30px;
    padding: 50px;
    padding-bottom: 5px;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0) skew(-4deg);
    border-left: 1px solid #3d4a57;

    & > * {
      transform: translate3d(0, 0, 0) skew(4deg);
    }
  }
}

.coming-soon-welcome__title {
  margin: 0;
  margin-bottom: rem(35);
  font-weight: 600;
  font-size: rem(30);
  text-transform: uppercase;

  @include mq-min(480px) {
    font-size: rem(32);
  }
  @include mq-min(667px) {
    font-size: rem(36px);
  }

  @include mq-max(1023px) {
    text-align: center;
  }
}

.coming-soon-welcome__text {
  color: #9dbad8;
  letter-spacing: 0.025em;
  font-size: rem(20);

  p {
    margin-bottom: 2rem;
  }

  @include mq-min(1024px) {
    font-size: rem(18);
    padding-right: rem(30);
  }
}

.coming-soon-welcome__to-calc {
  align-self: center;

  @include mq-max(567px) {
    width: 100%;
  }

  @include mq-min(1024px) {
    align-self: flex-start;
  }
}

.coming-soon-welcome__dish {
  display: none;

  @include mq-min(1024px) {
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    width: rem(304);
    height: rem(304);
    transform: translateY(-50%);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: 35%;
      transform: skew(4deg);
      background: url("images/welcome-dish.png") no-repeat center / contain;
    }
  }
}
