.fields-list {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  margin-bottom: -1rem;

  // @include mq-min(768px) {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
}

.fields-list__item {
  width: 100%;
  margin-bottom: 1rem;
  flex-grow: 1;

  // @include mq-min(768px) {
  //   margin-right: 36px;

  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }
  // }
}
