.fields-list {
  display: flex;
  flex-direction: column;

  @include mq-min(667px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.fields-list__item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-min(667px) {
    margin-bottom: 0;
    margin-right: 36px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
