.form-new-order {

}

.form-new-order__title {
  font-size: rem(24);
}

.form-new-order__person-list {

}

.form-new-order__person-item {
  @include mq-range(667px, 991px) {
    @include calc-column-width(2);
  }

  @include mq-min(992px) {
    @include calc-column-width(4);
  }
}

.form-new-order__slider {
  margin-top: rem($gutter / 1);
  margin-bottom: $gutter * 3;

  @include mq-max(639px) {
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
  }
}

.form-new-order__pay-columns {
  @include mq-min(568px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-new-order__pay-columns-item {

}

.form-new-order__total {
  margin-top: $gutter;

  @include mq-min(568px) {
    margin-top: 0;
    margin-left: $gutter;
  }
}

.form-new-order__footer {
  margin-top: $gutter;
}

.form-new-order__footer-row {

}

.form-new-order__submit-wrapper {
  text-align: center;

  @include mq-min(568px) {
    display: flex;
    align-items: center;
  }
}

.form-new-order__agree {
  display: flex;
  font-size: rem(14);
  line-height: 1;

  a {
    margin-left: 5px;
  }

  @include mq-min(568px) {
    margin-left: auto;
  }
}

.form-new-order__submit {
  margin-top: 1rem;

  @include mq-min(568px) {
    margin-top: 0;
    margin-left: $gutter;
  }
}
