.form-new-order-total {

}

.form-new-order-total__table {
  font-size: rem(22);

  tr {
    vertical-align: bottom;
  }
}

.form-new-order-total__table-label {
  font-weight: 500;
  font-size: rem(16);
  padding-right: 1rem;
}

.form-new-order-total__table-rebate {
  display: block;
  font-size: rem(16);
  color: $muted-color;
  text-align: right;
}

.form-new-order-total__table-value {
  display: block;
  min-width: 100px;
  font-weight: 500;
  text-align: right;
}
