.form-control {
  width: 100%;
  min-width: auto;
  padding: rem(15);
  font: inherit;
  font-weight: 500;
  font-size: rem(15);
  line-height: 1.4;
  text-align: center;
  color: #9dbad8;
  background-color: rgba(#9dbad8, 0.1);
  border: 1px solid #2b3844;
  border-radius: rem(50);
  box-sizing: border-box;
  transition: $duration * 1.5;
  outline: none;

  &:hover {
    border-color: lighten(#2b3844, 5%);
    background-color: rgba(#9dbad8, 0.1);
  }

  &:focus {
    border-color: lighten(#2b3844, 5%);
    // color: #030d17;
    background-color: #ffffff;
    background-color: rgba(#9dbad8, 0.2);
  }

  &[type="number"],
  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &::placeholder {
    color: #9dbad8;
    opacity: 0.5;
  }

  textarea#{&} {
    max-height: 200px;
    resize: vertical;
  }

  @include mq-min(667px) {
    padding-top: rem(10);
    padding-bottom: rem(10);
  }
}
