.form-profile {
  max-width: rem(650);
  margin-left: auto;
  margin-right: auto;
}

.form-profile__output {

}

.form-profile__output-text {
  font-weight: 500;
}

.form-profile__output-value {
  font-weight: 600;
  font-size: rem(27);
}
