.form-field {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: rem(15);
  color: #9dbad8;
}

.form-field__text {
  margin-right: rem(14);
  white-space: nowrap;

  &--required::after {
    display: inline-block;
    margin-left: 0.2em;
    color: $danger-color;
    content: "*";
  }

  @include mq-min(667px) {
    margin-right: rem(10);
  }
}

.form-field__control {

  @include mq-min(667px) {
    &--individual {
      width: rem(100);
    }
  }
}
