.form-new-order-slder {
  box-shadow: none;
  border-radius: 10px;
  height: 14px;
  border-color: #aaaaaa;

  .noUi-pips-horizontal {
    height: auto;
  }

  .noUi-connects {
    border-radius: 10px;
  }

  .noUi-connect {
    background-color: $accent-color-3;
  }

  .noUi-marker {
    display: none;
  }

  .noUi-value-horizontal {
    transform: translate(-50%, 10%);
    font-size: 15px;
  }

  .noUi-handle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    right: -21px !important;
    top: -16px;
    box-shadow: none;
    outline: none;
    cursor: e-resize;

    &::before,
    &::after {
      content: none;
    }
  }

  .noUi-tooltip {
    top: 0;
    bottom: 0;
    height: 42px;
    padding: 0;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    background: none;
    border: none;
  }
}
