.landing-button-action {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  min-width: 295px;
  font-style: normal;
  font-weight: 500;
  font-size: rem(15);
  line-height: 1.4;
  font-family: $primary-font;
  letter-spacing: 0.005em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: rem(50);
  color: #ffffff;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: background-color $duration;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    transform-origin: 100% 50%;
    transform: rotate(-2deg);
    background-color: $accent-color-2;
    transition: $duration * 1.2;
    border-radius: inherit;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    &::before {
      transform-origin: 80% 80%;
      transform: rotate(1.2deg);
    }
  }

  &:active {
    color: #ffffff;

    &::before{
      transform-origin: 50%;
      transform: scale(0.8);
    }
  }
}

.landing-button-action__text {
  position: relative;
  border-radius: inherit;
  display: block;
  padding: rem(15) rem(39);
  background-color: $accent-color;
  transition: inherit;

  .landing-button-action:hover &,
  .landing-button-action:focus & {
    background-color: lighten($accent-color, 10%);
  }

  .landing-button-action:active {
    background-color: darken($accent-color, 2%);
  }

  @include mq-min(768px) {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}
