.page-footer {
  color: $white-color;
  background-color: #000000;
}

.page-footer__frame {
  padding-top: $gutter;
  padding-bottom: $gutter;

  &--top {
    background-color: #030d17;
  }

  &--bottom {
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    font-family: $secondary-font;
    background-color: #000000;
  }
}

.page-footer__inner {
  @include make-container();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include mq-min(568px) {
    flex-direction: row;
  }
}

.page-footer__logo {
  margin-right: $gutter;
  flex-shrink: 0;
}

.page-footer__social {
  @include mq-min(568px) {
    margin-left: auto;
  }
}

.page-footer__phone {

  @include mq-max(567px) {
    display: none;
  }

  @include mq-min(568px) {
    margin-left: $gutter;
  }

  @include mq-min(1024px) {
    margin-left: $gutter * 2;
  }
}

.page-footer__copy {
  margin: 0;
  margin-right: $gutter;
}

.page-footer__developer {
  margin: 0;
  text-align: right;

  a {
    color: $accent-color-2;
  }
}
