.page-header {
  padding-top: $gutter;
  padding-bottom: $gutter;
  color: $white-color;
  background-color: #030d17;

  .homepage & {
    background-color: transparent;
  }

  @include mq-min(667px) {
    padding-top: $gutter * 2;
    padding-bottom: $gutter * 2;
  }
}

.page-header__inner {
  @include make-container();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & > * {
    visibility: hidden;
  }

  @include mq-min(568px) {
    flex-direction: row;
  }
}

.page-header__logo {
  margin-right: $gutter;
  flex-shrink: 0;
}

.page-header__social {
  display: none;

  @include mq-min(640px) {
    display: block;
    margin-left: auto;
  }
}

.page-header__phone {
  display: none;

  @include mq-min(640px) {
    display: block;
    margin-top: 0;
    margin-left: $gutter;
  }

  @include mq-min(1024px) {
    margin-left: $gutter * 2;
  }
}

.page-header__toggler {
  @include mq-min(568px) {
    margin-top: 0;
    margin-left: $gutter;
  }

  @include mq-min(1024px) {
    margin-left: $gutter * 2;
  }
}
