.page-phone {
  color: $white-color;
  text-decoration: none;
  transition: color $duration;
  outline: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  span {
    font-size: rem(30);
    font-weight: 600;
  }
}
