.popup {
  width: calc(100% - #{($gutter / 2)});
  max-width: rem(400);
  padding: ($gutter * 2);
  color: #ffffff;
  background-color: rgba(#000000, 0.72);

  .fancybox-close-small {
    padding: 0;
    color: #ffffff;
  }

  @include mq-min(768px) {
    padding: ($gutter * 3);
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 1.65rem;
  line-height: 1.2;
}
