.radioboxes-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  background-color: rgba(#9dbad8, 0.1);
  border-radius: rem(2);

  &--inverse {
    border-color: #2b3844;
  }

  &--has-notice {
    margin-bottom: rem(25);
  }

  @include mq-min(667px) {
    flex-direction: row;
    border-radius: rem(50);

    &--fit-content {
      display: inline-flex;
    }
  }
}

.radioboxes-list__item {
  flex-grow: 1;
}
