.reviews {
  background-color: #333644;
  color: #ffffff;
}

.reviews__inner {
  @include make-container();

  display: flex;
  flex-wrap: wrap;
}

.reviews__title {
  margin-right: $gutter;
}

.reviews__write {
  margin-top: 0.5rem;
  margin-left: auto;
  align-self: flex-start;
}


.reviews__list {
  @include clear-list();

  width: 100%;
}

.reviews__item {
  margin: 0;
  padding-left: $gutter * 2;
  padding-right: $gutter * 2;
  box-sizing: border-box;
}

.reviews__author-name {
  display: block;
  margin-bottom: 1rem;
  color: $muted-color;
}

.reviews__text {
  font-size: rem(15);
}
