.tariff-menu-set-nav-slider {

}

.tariff-menu-set-nav-slider__item {
  width: 180px;
  text-align: center;
  opacity: 0.5;
  transition: opacity $duration * 4;

  &.is-selected {
    opacity: 1;
  }

  &--current-week {
    font-weight: 500;
  }

  @include mq-min(1024px) {
    width: 33%;
  }
}

.tariff-menu-set-nav-slider__caption {
  display: flex;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  white-space: nowrap;

  &::before,
  &::after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background-color: $accent-color;
    opacity: 0;
    transition: $duration * 3;

    .is-selected & {
      opacity: 1;
      transition-delay: $duration;
    }
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}
