.tariff-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $gutter * 2 $gutter;
  font-weight: 500;
  border: 1px solid $secondary-color;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(#030d17, 0.4);
  box-sizing: border-box;
  transition: border-color $duration * 2, background $duration * 1.5;

  &:hover {
    background-color: #030d17;
    border-color: transparent;
  }

  @include mq-min(1024px) {
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

  @include mq-min(1440px) {
    padding-left: rem(35);
    padding-right: rem(35);
  }
}

.tariff-plan__name {
  margin: 0;
  margin-bottom: $gutter;
  font-weight: 500;
  font-size: rem(24);
  text-align: center;
  color: #9dbad8;
}

.tariff-plan__name-label {
  display: block;
  font-size: rem(15);
}

.tariff-plan__price {
  display: block;
  margin-bottom: rem(5);
  font-weight: 500;
  font-size: rem(30);
  color: $accent-color-3;
}

.tariff-plan__price-currency {
  font-size: rem(18);
}

.tariff-plan__calories {
  display: block;
  margin-bottom: $gutter;
  font-size: rem(15);
}

.tariff-plan__to-order {
  width: 100%;
  min-width: auto;
  margin-top: auto;
  color: #ffffff;

  &::before {
    opacity: 0;
    transform: rotate(0deg);
    transition-delay: -0.1s;
  }

  &:hover,
  &:focus {
    color: #ffffff;
  }

  @include mq-min(992px) {
    color: $secondary-color;

    &:hover::before,
    &:focus::before {
      transform-origin: 80% 80%;
      transform: rotate(1.2deg);
      opacity: 1;
    }

    &:active::before {
      transform-origin: 50%;
      transform: scale(0.8);
      opacity: 1;
    }

    .tariff-plan:hover & {
      color: #ffffff;

      &::before {
        opacity: 1;
        transform: rotate(-2deg);
        transition-delay: 0.1s;
      }
    }
  }
}

.tariff-plan__to-order-text {

  @include mq-min(992px) {
    border: 1px solid $secondary-color;
    background-color: transparent;

    .tariff-plan:hover & {
      background-color: $accent-color;
      border-color: transparent;
    }

    .tariff-plan__to-order:hover &,
    .tariff-plan__to-order:focus & {
      border-color: transparent;
    }
  }
}
