.weekly-menu-tabs__menu {
  @include clear-list();

  display: flex;
  margin-bottom: rem(10);
  overflow-x: auto;
  background-color: #ffffff;
  border-radius: 60px;

  @include mq-min(768px) {
    margin-bottom: 40px;
  }

  @include mq-min(1024px) {
    margin-bottom: 50px;
  }
}

.weekly-menu-tabs__menu-item {
  flex-grow: 1;
  font-weight: 500;
  font-size: rem(15);
  line-height: 1;
}

.weekly-menu-tabs__menu-link {
  display: block;
  padding: rem(13) 4vw;
  color: $base-color;
  text-decoration: none;
  text-align: center;
  user-select: none;
  border-radius: 2px;
  transition: background-color $duration;

  &:hover,
  &:focus {
    color: $base-color;
    background-color: #f7f7f7;
  }

  .active & {
    background-color: $accent-color-2;
  }

  @include mq-min(568px) {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}
